/*
Image {
    padding: 0%;
}
StackLayout {
    width: 100%;
    text-align: center;
    border: 5px solid red;
}
GridLayout {
    width: 100%;
    text-align: center;
    border: 5px solid red;
}
Label {
    margin:5%;
}
*/
Label {
    margin:3%;
}