Image {
    margin: 5%;
}
StackLayout {
    width: 100%;
    text-align: center;
    border: solid, 1px, #000;
}
GridLayout {
    width: 100%;
    text-align: center;
    border: solid, 1px, #000;
}
Label {
    margin:5%;
}